# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ISLab2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Роман\RiderProjects\IS2\.idea\.idea.ISLab2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
